<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>

<body>   
<div class="container">
    <h1 style="margin: 3em 0 1em 0; ">Minimum pack count calculator</h1>
    <h2>Problem data:</h2>
    <form action="." method="post">
        <div class="form-group">
            <label for="packs">Pack sizes:</label>
            <div class="input-group mb-3">
                <input id="packs" class="form-control" name="packs" value="{{.Packs}}" placeholder="100, 200, 500" />
            </div>
            <label for="target">Number of ordered items:</label>
            <div class="input-group mb-3">
                <input id="target" class="form-control" name="target" value="{{.Target}}" />
            </div>
            <button type="submit" class="btn btn-primary">Get solution</button>
        </div>        
    </form>

    <h2>Solution:</h2>
    <hr />
    <div class="alert alert-info" role="alert">
    {{.Solution}}
    </div>
</div>
</body>
</html>